# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Generated platform folders (run `flutter create .` to materialize them)
/android/
/ios/
/linux/
/macos/
/windows/
/web/

# IDE
.idea/
*.iml
.vscode/
