@tailwind base;
@tailwind components;
@tailwind utilities;

#navData {
    float: right;
}

#map {
    width: 50em;
    height: 30em;
}

.data {
     border: 1px solid gray;
     width: 10em;
     font-size: 2em;
}

.data div {
    font-size: .5em;
}

.gauge td {
    white-space: nowrap;
}
