*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.table-container {
  width: 100%;
  min-width: 1200px;
  border-width: 1px;
  border-bottom-width: 0px;
  --tw-border-opacity: 1;
  border-color: rgb(228 228 230 / var(--tw-border-opacity, 1));
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.table-header {
  height: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 248 / var(--tw-bg-opacity, 1));
  font-size: 0.75rem;
  line-height: 1rem;
}

.table-header-cell {
  height: 1.5rem;
  min-height: 0px;
  align-content: center;
  align-items: center;
  white-space: normal;
  overflow-wrap: break-word;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(228 228 230 / var(--tw-border-opacity, 1));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(78 79 82 / var(--tw-text-opacity, 1));
}

.table-cell {
  min-height: 3rem;
  align-content: center;
  align-items: center;
  white-space: normal;
  overflow-wrap: break-word;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(228 228 230 / var(--tw-border-opacity, 1));
  padding: 0.5rem;
}

.table-cell-link {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.table-cell-link:hover {
  text-decoration-line: underline;
}

.table-cell-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-x-0 {
  left: 0px;
  right: 0px;
}

.-bottom-8 {
  bottom: -2rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-9 {
  bottom: 2.25rem;
}

.bottom-\[3px\] {
  bottom: 3px;
}

.bottom-\[9px\] {
  bottom: 9px;
}

.bottom-auto {
  bottom: auto;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.left-2 {
  left: 0.5rem;
}

.left-\[0\.2rem\] {
  left: 0.2rem;
}

.left-auto {
  left: auto;
}

.right-0 {
  right: 0px;
}

.right-1 {
  right: 0.25rem;
}

.right-2 {
  right: 0.5rem;
}

.right-4 {
  right: 1rem;
}

.top-0 {
  top: 0px;
}

.top-1 {
  top: 0.25rem;
}

.top-1\.5 {
  top: 0.375rem;
}

.top-1\/2 {
  top: 50%;
}

.top-4 {
  top: 1rem;
}

.top-6 {
  top: 1.5rem;
}

.top-auto {
  top: auto;
}

.top-full {
  top: 100%;
}

.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

.z-\[9999\] {
  z-index: 9999;
}

.z-max {
  z-index: 1000;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

.m-0 {
  margin: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0\.5 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.-ml-\[2px\] {
  margin-left: -2px;
}

.-ml-px {
  margin-left: -1px;
}

.-mt-0\.5 {
  margin-top: -0.125rem;
}

.-mt-\[0\.5px\] {
  margin-top: -0.5px;
}

.-mt-\[5px\] {
  margin-top: -5px;
}

.-mt-px {
  margin-top: -1px;
}

.mb-0\.5 {
  margin-bottom: 0.125rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-auto {
  margin-left: auto;
}

.ml-px {
  margin-left: 1px;
}

.mr-4 {
  margin-right: 1rem;
}

.mt-0\.5 {
  margin-top: 0.125rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[3px\] {
  margin-top: 3px;
}

.mt-\[6px\] {
  margin-top: 6px;
}

.mt-px {
  margin-top: 1px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.table-row {
  display: table-row;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.size-4 {
  width: 1rem;
  height: 1rem;
}

.size-7\.5 {
  width: 1.875rem;
  height: 1.875rem;
}

.h-10 {
  height: 2.5rem;
}

.h-2 {
  height: 0.5rem;
}

.h-3 {
  height: 0.75rem;
}

.h-3\.5 {
  height: 0.875rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-7\.5 {
  height: 1.875rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[24px\] {
  height: 24px;
}

.h-\[50dvh\] {
  height: 50dvh;
}

.h-\[69\%\] {
  height: 69%;
}

.h-\[8\.5px\] {
  height: 8.5px;
}

.h-\[calc\(100\%\+2px\)\] {
  height: calc(100% + 2px);
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.h-px {
  height: 1px;
}

.max-h-36 {
  max-height: 9rem;
}

.max-h-\[320px\] {
  max-height: 320px;
}

.max-h-\[400px\] {
  max-height: 400px;
}

.max-h-\[600px\] {
  max-height: 600px;
}

.min-h-0 {
  min-height: 0px;
}

.min-h-10 {
  min-height: 2.5rem;
}

.min-h-12 {
  min-height: 3rem;
}

.min-h-6 {
  min-height: 1.5rem;
}

.min-h-\[200px\] {
  min-height: 200px;
}

.min-h-\[4px\] {
  min-height: 4px;
}

.min-h-\[50dvh\] {
  min-height: 50dvh;
}

.min-h-full {
  min-height: 100%;
}

.w-1 {
  width: 0.25rem;
}

.w-11 {
  width: 2.75rem;
}

.w-2 {
  width: 0.5rem;
}

.w-3 {
  width: 0.75rem;
}

.w-3\.5 {
  width: 0.875rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[3px\] {
  width: 3px;
}

.w-\[8\.5px\] {
  width: 8.5px;
}

.w-dvw {
  width: 100dvw;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-max {
  width: -moz-max-content;
  width: max-content;
}

.w-px {
  width: 1px;
}

.w-screen {
  width: 100vw;
}

.min-w-32 {
  min-width: 8rem;
}

.min-w-\[1200px\] {
  min-width: 1200px;
}

.min-w-\[400px\] {
  min-width: 400px;
}

.max-w-\[250px\] {
  max-width: 250px;
}

.max-w-\[400px\] {
  max-width: 400px;
}

.max-w-\[480px\] {
  max-width: 480px;
}

.max-w-\[5\.5rem\] {
  max-width: 5.5rem;
}

.max-w-\[800px\] {
  max-width: 800px;
}

.max-w-fit {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.max-w-full {
  max-width: 100%;
}

.flex-1 {
  flex: 1 1 0%;
}

.shrink-0 {
  flex-shrink: 0;
}

.flex-grow {
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

.table-auto {
  table-layout: auto;
}

.table-fixed {
  table-layout: fixed;
}

.origin-bottom {
  transform-origin: bottom;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-6 {
  --tw-translate-x: 1.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[-6\.5px\] {
  --tw-translate-x: -6.5px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-\[30deg\] {
  --tw-rotate: -30deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[30deg\] {
  --tw-rotate: 30deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-\[1\.125\] {
  --tw-scale-x: 1.125;
  --tw-scale-y: 1.125;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-\[1\.5\] {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-ew-resize {
  cursor: ew-resize;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize {
  resize: both;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-\[11\%_12\%_12\%_12\.5\%_15\%_12\.5\%_12\.5\%_12\.5\%\] {
  grid-template-columns: 11% 12% 12% 12.5% 15% 12.5% 12.5% 12.5%;
}

.grid-cols-\[16\%_13\%_10\%_16\%_20\%_20\%_auto\] {
  grid-template-columns: 16% 13% 10% 16% 20% 20% auto;
}

.grid-cols-\[3rem_1fr\] {
  grid-template-columns: 3rem 1fr;
}

.grid-cols-\[60\%_1fr_auto\] {
  grid-template-columns: 60% 1fr auto;
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.content-center {
  align-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.text-nowrap {
  text-wrap: nowrap;
}

.break-words {
  overflow-wrap: break-word;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[1px\] {
  border-radius: 1px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-none {
  border-radius: 0px;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-l {
  border-left-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.\!border-disabled-light {
  --tw-border-opacity: 1 !important;
  border-color: rgb(242 242 244 / var(--tw-border-opacity, 1)) !important;
}

.\!border-green-100 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(220 252 231 / var(--tw-border-opacity, 1)) !important;
}

.\!border-red-100 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(254 226 226 / var(--tw-border-opacity, 1)) !important;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(19 20 20 / var(--tw-border-opacity, 1));
}

.border-danger-dark {
  --tw-border-opacity: 1;
  border-color: rgb(190 53 54 / var(--tw-border-opacity, 1));
}

.border-danger-medium {
  --tw-border-opacity: 1;
  border-color: rgb(237 192 191 / var(--tw-border-opacity, 1));
}

.border-dark {
  --tw-border-opacity: 1;
  border-color: rgb(78 78 78 / var(--tw-border-opacity, 1));
}

.border-disabled-dark {
  --tw-border-opacity: 1;
  border-color: rgb(156 156 164 / var(--tw-border-opacity, 1));
}

.border-disabled-light {
  --tw-border-opacity: 1;
  border-color: rgb(242 242 244 / var(--tw-border-opacity, 1));
}

.border-gray-4 {
  --tw-border-opacity: 1;
  border-color: rgb(215 215 217 / var(--tw-border-opacity, 1));
}

.border-gray-6 {
  --tw-border-opacity: 1;
  border-color: rgb(156 156 164 / var(--tw-border-opacity, 1));
}

.border-gray-9 {
  --tw-border-opacity: 1;
  border-color: rgb(40 40 41 / var(--tw-border-opacity, 1));
}

.border-green-100 {
  --tw-border-opacity: 1;
  border-color: rgb(220 252 231 / var(--tw-border-opacity, 1));
}

.border-info-medium {
  --tw-border-opacity: 1;
  border-color: rgb(182 209 244 / var(--tw-border-opacity, 1));
}

.border-light {
  --tw-border-opacity: 1;
  border-color: rgb(228 228 230 / var(--tw-border-opacity, 1));
}

.border-medium {
  --tw-border-opacity: 1;
  border-color: rgb(215 215 217 / var(--tw-border-opacity, 1));
}

.border-red-100 {
  --tw-border-opacity: 1;
  border-color: rgb(254 226 226 / var(--tw-border-opacity, 1));
}

.border-success-dark {
  --tw-border-opacity: 1;
  border-color: rgb(61 125 63 / var(--tw-border-opacity, 1));
}

.border-success-medium {
  --tw-border-opacity: 1;
  border-color: rgb(185 220 188 / var(--tw-border-opacity, 1));
}

.border-transparent {
  border-color: transparent;
}

.border-warning-bright {
  --tw-border-opacity: 1;
  border-color: rgb(221 171 63 / var(--tw-border-opacity, 1));
}

.border-warning-medium {
  --tw-border-opacity: 1;
  border-color: rgb(233 200 157 / var(--tw-border-opacity, 1));
}

.\!bg-disabled-light {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(242 242 244 / var(--tw-bg-opacity, 1)) !important;
}

.\!bg-gray-50 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1)) !important;
}

.\!bg-green-50 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1)) !important;
}

.\!bg-red-50 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1)) !important;
}

.bg-\[\#80b3e5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(128 179 229 / var(--tw-bg-opacity, 1));
}

.bg-\[\#9ebe9f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(158 190 159 / var(--tw-bg-opacity, 1));
}

.bg-\[\#df9a9b\] {
  --tw-bg-opacity: 1;
  background-color: rgb(223 154 155 / var(--tw-bg-opacity, 1));
}

.bg-\[\#eed59f\] {
  --tw-bg-opacity: 1;
  background-color: rgb(238 213 159 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(19 20 20 / var(--tw-bg-opacity, 1));
}

.bg-danger-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(190 53 54 / var(--tw-bg-opacity, 1));
}

.bg-danger-light {
  --tw-bg-opacity: 1;
  background-color: rgb(252 236 234 / var(--tw-bg-opacity, 1));
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(122 122 122 / var(--tw-bg-opacity, 1));
}

.bg-disabled-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(156 156 164 / var(--tw-bg-opacity, 1));
}

.bg-disabled-light {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 244 / var(--tw-bg-opacity, 1));
}

.bg-ghost-medium {
  background-color: rgba(0,0,0,0.08);
}

.bg-gray-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 248 / var(--tw-bg-opacity, 1));
}

.bg-gray-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(237 238 240 / var(--tw-bg-opacity, 1));
}

.bg-gray-4 {
  --tw-bg-opacity: 1;
  background-color: rgb(215 215 217 / var(--tw-bg-opacity, 1));
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.bg-gray-6 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 156 164 / var(--tw-bg-opacity, 1));
}

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
}

.bg-gray-8 {
  --tw-bg-opacity: 1;
  background-color: rgb(78 79 82 / var(--tw-bg-opacity, 1));
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
}

.bg-gray-9 {
  --tw-bg-opacity: 1;
  background-color: rgb(40 40 41 / var(--tw-bg-opacity, 1));
}

.bg-green-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1));
}

.bg-info-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(46 103 211 / var(--tw-bg-opacity, 1));
}

.bg-info-light {
  --tw-bg-opacity: 1;
  background-color: rgb(225 243 255 / var(--tw-bg-opacity, 1));
}

.bg-light {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 248 / var(--tw-bg-opacity, 1));
}

.bg-medium {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 244 / var(--tw-bg-opacity, 1));
}

.bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1));
}

.bg-success-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(61 125 63 / var(--tw-bg-opacity, 1));
}

.bg-success-light {
  --tw-bg-opacity: 1;
  background-color: rgb(224 250 227 / var(--tw-bg-opacity, 1));
}

.bg-warning-bright {
  --tw-bg-opacity: 1;
  background-color: rgb(221 171 63 / var(--tw-bg-opacity, 1));
}

.bg-warning-light {
  --tw-bg-opacity: 1;
  background-color: rgb(254 243 224 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/65 {
  background-color: rgb(255 255 255 / 0.65);
}

.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 249 195 / var(--tw-bg-opacity, 1));
}

.bg-opacity-40 {
  --tw-bg-opacity: 0.4;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-\[1\.5px\] {
  padding: 1.5px;
}

.px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-\[9px\] {
  padding-left: 9px;
  padding-right: 9px;
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-px {
  padding-top: 1px;
  padding-bottom: 1px;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-1\.5 {
  padding-left: 0.375rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-1\.5 {
  padding-right: 0.375rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-12 {
  padding-right: 3rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-2\.5 {
  padding-right: 0.625rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-px {
  padding-right: 1px;
}

.pt-2 {
  padding-top: 0.5rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-roboto-mono {
  font-family: 'Roboto Mono Variable', 'Roboto Mono', ui-monospace, monospace;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[0\.625rem\] {
  font-size: 0.625rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.leading-8 {
  line-height: 2rem;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.\!text-gray-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1)) !important;
}

.\!text-green-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(21 128 61 / var(--tw-text-opacity, 1)) !important;
}

.\!text-red-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1)) !important;
}

.text-black\/50 {
  color: rgb(19 20 20 / 0.5);
}

.text-danger-dark {
  --tw-text-opacity: 1;
  color: rgb(190 53 54 / var(--tw-text-opacity, 1));
}

.text-default {
  --tw-text-opacity: 1;
  color: rgb(40 40 41 / var(--tw-text-opacity, 1));
}

.text-disabled {
  --tw-text-opacity: 1;
  color: rgb(156 156 164 / var(--tw-text-opacity, 1));
}

.text-disabled-dark {
  --tw-text-opacity: 1;
  color: rgb(156 156 164 / var(--tw-text-opacity, 1));
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

.text-gray-4 {
  --tw-text-opacity: 1;
  color: rgb(215 215 217 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-5 {
  --tw-text-opacity: 1;
  color: rgb(197 198 204 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-gray-6 {
  --tw-text-opacity: 1;
  color: rgb(156 156 164 / var(--tw-text-opacity, 1));
}

.text-gray-7 {
  --tw-text-opacity: 1;
  color: rgb(122 124 128 / var(--tw-text-opacity, 1));
}

.text-gray-8 {
  --tw-text-opacity: 1;
  color: rgb(78 79 82 / var(--tw-text-opacity, 1));
}

.text-gray-9 {
  --tw-text-opacity: 1;
  color: rgb(40 40 41 / var(--tw-text-opacity, 1));
}

.text-green-700 {
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity, 1));
}

.text-info-dark {
  --tw-text-opacity: 1;
  color: rgb(46 103 211 / var(--tw-text-opacity, 1));
}

.text-link {
  --tw-text-opacity: 1;
  color: rgb(0 102 204 / var(--tw-text-opacity, 1));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-subtle-1 {
  --tw-text-opacity: 1;
  color: rgb(78 79 82 / var(--tw-text-opacity, 1));
}

.text-subtle-2 {
  --tw-text-opacity: 1;
  color: rgb(122 124 128 / var(--tw-text-opacity, 1));
}

.text-success-dark {
  --tw-text-opacity: 1;
  color: rgb(61 125 63 / var(--tw-text-opacity, 1));
}

.text-warning-bright {
  --tw-text-opacity: 1;
  color: rgb(221 171 63 / var(--tw-text-opacity, 1));
}

.text-warning-dark {
  --tw-text-opacity: 1;
  color: rgb(166 87 15 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.caret-transparent {
  caret-color: transparent;
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 4px 32px rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 4px 32px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.outline {
  outline-style: solid;
}

.outline-offset-2 {
  outline-offset: 2px;
}

.outline-danger-dark {
  outline-color: #be3536;
}

.outline-warning-bright {
  outline-color: #ddab3f;
}

.ring-0 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter-none {
  filter: none;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-black {
  scrollbar-color: #131414;
}

.scrollbar-w-1\.5::-webkit-scrollbar {
  width: 0.375rem;
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thumb-black::-webkit-scrollbar-thumb {
  background-color: #131414;
}

.scrollbar-thumb-border::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  border-width: 1px;
}

.scrollbar-thumb-border-0::-webkit-scrollbar-thumb {
  border-width: 0px;
}

.scrollbar-thumb-border::-webkit-scrollbar-thumb {
  border-color: #e5e7eb;
}

.scrollbar-thumb-border-transparent::-webkit-scrollbar-thumb {
  border-color: transparent;
}

.slider-track-disabled-light::-webkit-slider-runnable-track {
  background: #f2f2f4;
}

.slider-track-disabled-light::-moz-range-track {
  background: #f2f2f4;
}

.slider-track-disabled-light::-ms-track {
  background: transparent;
}

.slider-track-disabled-light::-ms-fill-lower {
  background: #f2f2f4;
}

.slider-track-disabled-light::-ms-fill-upper {
  background: #f2f2f4;
}

.slider-track-gray-4::-webkit-slider-runnable-track {
  background: #d7d7d9;
}

.slider-track-gray-4::-moz-range-track {
  background: #d7d7d9;
}

.slider-track-gray-4::-ms-track {
  background: transparent;
}

.slider-track-gray-4::-ms-fill-lower {
  background: #d7d7d9;
}

.slider-track-gray-4::-ms-fill-upper {
  background: #d7d7d9;
}

.slider-track-w-full::-webkit-slider-runnable-track {
  width: 100%;
}

.slider-track-w-full::-moz-range-track {
  width: 100%;
}

.slider-track-w-full::-ms-track {
  width: 100%;
}

.slider-track-h-0\.5::-webkit-slider-runnable-track {
  height: 0.125rem;
}

.slider-track-h-0\.5::-moz-range-track {
  height: 0.125rem;
}

.slider-track-h-0\.5::-ms-track {
  height: 0.125rem;
}

.slider-track-cursor-not-allowed::-webkit-slider-runnable-track {
  cursor: not-allowed;
}

.slider-track-cursor-not-allowed::-moz-range-track {
  cursor: not-allowed;
}

.slider-track-cursor-not-allowed::-ms-track {
  cursor: not-allowed;
}

.slider-track-cursor-pointer::-webkit-slider-runnable-track {
  cursor: pointer;
}

.slider-track-cursor-pointer::-moz-range-track {
  cursor: pointer;
}

.slider-track-cursor-pointer::-ms-track {
  cursor: pointer;
}

.slider-thumb-light::-webkit-slider-thumb {
  background: #f7f7f8;
}

.slider-thumb-light::-moz-range-thumb {
  background: #f7f7f8;
}

.slider-thumb-light::-ms-thumb {
  background: #f7f7f8;
}

.slider-thumb-w-5::-webkit-slider-thumb {
  width: 1.25rem;
}

.slider-thumb-w-5::-moz-range-thumb {
  width: 1.25rem;
}

.slider-thumb-w-5::-ms-thumb {
  width: 1.25rem;
}

.slider-thumb-h-5::-webkit-slider-thumb {
  height: 1.25rem;
  margin-top: calc(-1.25rem / 2);
}

.slider-thumb-h-5::-moz-range-thumb {
  height: 1.25rem;
}

.slider-thumb-h-5::-ms-thumb {
  height: 1.25rem;
}

.slider-thumb-border::-webkit-slider-thumb {
  border-width: 1px;
}

.slider-thumb-border::-moz-range-thumb {
  border-width: 1px;
}

.slider-thumb-border::-ms-thumb {
  border-width: 1px;
}

.slider-thumb-border::-webkit-slider-thumb {
  border-style: solid;
}

.slider-thumb-border::-moz-range-thumb {
  border-style: solid;
}

.slider-thumb-border::-ms-thumb {
  border-style: solid;
}

.slider-thumb-border::-webkit-slider-thumb {
  border-color: #e4e4e6;
}

.slider-thumb-border::-moz-range-thumb {
  border-color: #e4e4e6;
}

.slider-thumb-border::-ms-thumb {
  border-color: #e4e4e6;
}

.slider-thumb-border::-webkit-slider-thumb {
  border-radius: 9999px;
}

.slider-thumb-border::-moz-range-thumb {
  border-radius: 9999px;
}

.slider-thumb-border::-ms-thumb {
  border-radius: 9999px;
}

.slider-thumb-cursor-not-allowed::-webkit-slider-thumb {
  cursor: not-allowed;
}

.slider-thumb-cursor-not-allowed::-moz-range-thumb {
  cursor: not-allowed;
}

.slider-thumb-cursor-not-allowed::-ms-thumb {
  cursor: not-allowed;
}

.slider-thumb-cursor-pointer::-webkit-slider-thumb {
  cursor: pointer;
}

.slider-thumb-cursor-pointer::-moz-range-thumb {
  cursor: pointer;
}

.slider-thumb-cursor-pointer::-ms-thumb {
  cursor: pointer;
}

.\[overflow-wrap\:anywhere\] {
  overflow-wrap: anywhere;
}

#map-container {
  position: relative;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.gauge td {
  white-space: nowrap;
}

.first-letter\:capitalize::first-letter {
  text-transform: capitalize;
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-\[-2px\]::after {
  content: var(--tw-content);
  bottom: -2px;
}

.after\:left-\[calc\(50\%-2px\)\]::after {
  content: var(--tw-content);
  left: calc(50% - 2px);
}

.after\:ml-1::after {
  content: var(--tw-content);
  margin-left: 0.25rem;
}

.after\:h-0::after {
  content: var(--tw-content);
  height: 0px;
}

.after\:w-0::after {
  content: var(--tw-content);
  width: 0px;
}

.after\:border-x-\[2px\]::after {
  content: var(--tw-content);
  border-left-width: 2px;
  border-right-width: 2px;
}

.after\:border-b-\[0\]::after {
  content: var(--tw-content);
  border-bottom-width: 0;
}

.after\:border-t-\[2px\]::after {
  content: var(--tw-content);
  border-top-width: 2px;
}

.after\:border-solid::after {
  content: var(--tw-content);
  border-style: solid;
}

.after\:border-x-transparent::after {
  content: var(--tw-content);
  border-left-color: transparent;
  border-right-color: transparent;
}

.after\:border-b-transparent::after {
  content: var(--tw-content);
  border-bottom-color: transparent;
}

.after\:border-t-gray-9::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-top-color: rgb(40 40 41 / var(--tw-border-opacity, 1));
}

.after\:text-danger-dark::after {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(190 53 54 / var(--tw-text-opacity, 1));
}

.after\:content-\[\"\*\"\]::after {
  --tw-content: "*";
  content: var(--tw-content);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hover\:animate-spin:hover {
  animation: spin 1s linear infinite;
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:border-black:hover {
  --tw-border-opacity: 1;
  border-color: rgb(19 20 20 / var(--tw-border-opacity, 1));
}

.hover\:border-gray-6:hover {
  --tw-border-opacity: 1;
  border-color: rgb(156 156 164 / var(--tw-border-opacity, 1));
}

.hover\:border-medium:hover {
  --tw-border-opacity: 1;
  border-color: rgb(215 215 217 / var(--tw-border-opacity, 1));
}

.hover\:bg-\[\#aa2a2b\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(170 42 43 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#f5dfdc\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 223 220 / var(--tw-bg-opacity, 1));
}

.hover\:bg-black:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(19 20 20 / var(--tw-bg-opacity, 1));
}

.hover\:bg-danger-dark:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(190 53 54 / var(--tw-bg-opacity, 1));
}

.hover\:bg-ghost-light:hover {
  background-color: rgba(0,0,0,0.04);
}

.hover\:bg-gray-1:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 248 / var(--tw-bg-opacity, 1));
}

.hover\:bg-gray-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1));
}

.hover\:bg-light:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 248 / var(--tw-bg-opacity, 1));
}

.hover\:bg-medium:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 244 / var(--tw-bg-opacity, 1));
}

.hover\:bg-opacity-\[0\.08\]:hover {
  --tw-bg-opacity: 0.08;
}

.hover\:text-danger-dark:hover {
  --tw-text-opacity: 1;
  color: rgb(190 53 54 / var(--tw-text-opacity, 1));
}

.hover\:text-default:hover {
  --tw-text-opacity: 1;
  color: rgb(40 40 41 / var(--tw-text-opacity, 1));
}

.hover\:text-gray-7:hover {
  --tw-text-opacity: 1;
  color: rgb(122 124 128 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:outline-\[1\.5px\]:hover {
  outline-width: 1.5px;
}

.hover\:-outline-offset-1:hover {
  outline-offset: -1px;
}

.hover\:outline-danger-dark:hover {
  outline-color: #be3536;
}

.hover\:outline-warning-bright:hover {
  outline-color: #ddab3f;
}

.focus\:border-disabled-dark:focus {
  --tw-border-opacity: 1;
  border-color: rgb(156 156 164 / var(--tw-border-opacity, 1));
}

.focus\:border-gray-6:focus {
  --tw-border-opacity: 1;
  border-color: rgb(156 156 164 / var(--tw-border-opacity, 1));
}

.focus\:border-gray-9:focus {
  --tw-border-opacity: 1;
  border-color: rgb(40 40 41 / var(--tw-border-opacity, 1));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:outline-\[1\.5px\]:focus {
  outline-width: 1.5px;
}

.focus\:-outline-offset-1:focus {
  outline-offset: -1px;
}

.focus\:outline-danger-dark:focus {
  outline-color: #be3536;
}

.focus\:outline-warning-bright:focus {
  outline-color: #ddab3f;
}

.focus\:slider-track-gray-5:focus::-webkit-slider-runnable-track {
  background: #c5c6cc;
}

.focus\:slider-track-gray-5:focus::-moz-range-track {
  background: #c5c6cc;
}

.focus\:slider-track-gray-5:focus::-ms-track {
  background: transparent;
}

.focus\:slider-track-gray-5:focus::-ms-fill-lower {
  background: #c5c6cc;
}

.focus\:slider-track-gray-5:focus::-ms-fill-upper {
  background: #c5c6cc;
}

.focus-visible\:bg-ghost-light:focus-visible {
  background-color: rgba(0,0,0,0.04);
}

.focus-visible\:text-default:focus-visible {
  --tw-text-opacity: 1;
  color: rgb(40 40 41 / var(--tw-text-opacity, 1));
}

.active\:border-ghost-medium:active {
  border-color: rgba(0,0,0,0.08);
}

.active\:border-medium:active {
  --tw-border-opacity: 1;
  border-color: rgb(215 215 217 / var(--tw-border-opacity, 1));
}

.active\:bg-\[\#000\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.active\:bg-\[\#9e2728\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(158 39 40 / var(--tw-bg-opacity, 1));
}

.active\:bg-\[\#f6d7d3\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(246 215 211 / var(--tw-bg-opacity, 1));
}

.active\:bg-\[rgba\(190\2c 53\2c 54\2c 0\.16\)\]:active {
  background-color: rgba(190,53,54,0.16);
}

.active\:bg-ghost-medium:active {
  background-color: rgba(0,0,0,0.08);
}

.active\:bg-gray-2:active {
  --tw-bg-opacity: 1;
  background-color: rgb(237 238 240 / var(--tw-bg-opacity, 1));
}

.active\:text-danger-dark:active {
  --tw-text-opacity: 1;
  color: rgb(190 53 54 / var(--tw-text-opacity, 1));
}

.active\:text-default:active {
  --tw-text-opacity: 1;
  color: rgb(40 40 41 / var(--tw-text-opacity, 1));
}

.active\:text-gray-8:active {
  --tw-text-opacity: 1;
  color: rgb(78 79 82 / var(--tw-text-opacity, 1));
}

.group\/select-input:hover .group-hover\/select-input\:border-gray-6 {
  --tw-border-opacity: 1;
  border-color: rgb(156 156 164 / var(--tw-border-opacity, 1));
}

.group:hover .group-hover\:text-gray-7 {
  --tw-text-opacity: 1;
  color: rgb(122 124 128 / var(--tw-text-opacity, 1));
}

.group\/select-input:hover .group-hover\/select-input\:outline-\[1\.5px\] {
  outline-width: 1.5px;
}

.group\/select-input:hover .group-hover\/select-input\:-outline-offset-1 {
  outline-offset: -1px;
}

.group\/select-input:hover .group-hover\/select-input\:outline-danger-dark {
  outline-color: #be3536;
}

.group\/select-input:hover .group-hover\/select-input\:outline-warning-bright {
  outline-color: #ddab3f;
}

.peer:hover ~ .peer-hover\:block {
  display: block;
}

.peer:focus ~ .peer-focus\:visible {
  visibility: visible;
}

.peer:focus ~ .peer-focus\:-translate-y-1\.5 {
  --tw-translate-y: -0.375rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer:active ~ .peer-active\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (prefers-reduced-motion: no-preference) {
  .motion-safe\:transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .motion-safe\:transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

@media (min-width: 640px) {
  .sm\:right-6 {
    right: 1.5rem;
  }

  .sm\:w-\[360px\] {
    width: 360px;
  }

  .sm\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:row-span-5 {
    grid-row: span 5 / span 5;
  }

  .lg\:row-span-6 {
    grid-row: span 6 / span 6;
  }

  .lg\:h-\[auto\] {
    height: auto;
  }

  .lg\:h-dvh {
    height: 100dvh;
  }

  .lg\:w-\[250px\] {
    width: 250px;
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }
}
